@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bg: #fdfffc;
    --main1: #4A46CA;
    --main2: #0D6EFD;
    --text: #212529;
    --color1: #0d1b2a;
    --color2: #1b263b;
    --color3: #415a77;
    --color4: #778da9;
    --color5: #E0E0E0;
    --color6: #f8f9fa;
    --color7: #fdfffc;
    --warning: #ff0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg);
}

/* COMMON STYLE */
.app {
    padding-top: 50px;
    min-height: 100vh;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 0;
}

/* PAGE NOT FOUND */
.page_not_found_svg_image_page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.page_not_found_svg_image {
    width: 40%;
}

@media screen and (max-width: 800px) {
    .page_not_found_svg_image {
        width: 80%;
    }
}

/* FOOTER */
.footer {
    background-color: var(--color1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.footer .footer_content {
    color: var(--color5);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
    text-align: center;
}

.footer .footer_content span {
    color: var(--color7);
}

@media screen and (max-width: 800px) {
    .footer .footer_content span {
        display: block;
    }
}

/* NAVBAR */
nav {
    width: 100%;
    height: 50px;
    background-color: var(--color6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

nav .logo {
    color: var(--main1);
    line-height: 50px;
}

nav .logo span {
    color: var(--main2);
}

nav ul {
    display: flex;
    height: 100%;
    line-height: 50px;
    gap: 10px;
}

nav ul li {
    padding: 0px 5px;
}

nav ul li a {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 0.95rem;
    color: var(--main1);
    font-weight: 500;
    letter-spacing: 0.012rem;
}

nav ul li .nav_btn {
    background-color: var(--main1);
    color: var(--bg);
}

nav ul li:hover .nav_btn {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

nav ul li:hover a:not(.nav_btn) {
    color: var(--main2);
}

#check,
.menu_btn {
    display: none;
}

/* RESPONSIVE NAVBAR */
@media screen and (max-width: 800px) {
    nav {
        flex-direction: column;
        padding: 0;
        align-items: flex-start;
        padding: 0px 20px;
    }

    nav h1 .logo {
        line-height: 50px;
    }

    nav ul {
        background-color: var(--color6);
        flex-direction: column;
        height: auto;
        width: 40%;
        position: absolute;
        top: 50px;
        right: -40%;
        padding: 0px 0px 10px 30px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        transition: all 0.6s ease;
    }

    nav ul li a:not(.nav_btn) {
        padding: 0px;
    }

    nav .menu_btn {
        display: block;
        position: absolute;
        top: 14px;
        right: 20px;
    }

    nav .menu_btn .fa {
        font-size: 1.4rem;
        color: var(--main1);
    }

    #check:checked~ul {
        right: 0px;
    }
}

/* MESSAGE */
.msg_container {
    width: auto;
    min-width: 300px;
    z-index: 3;
    position: fixed;
    top: 60px;
    right: 0px;
    background-color: var(--color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    border-left: 6px solid var(--main2);
}

.msg_container .msg {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color6);
}

.msg_container .msg_close_btn {
    outline: none;
    border: none;
    display: grid;
    place-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--warning);
    color: var(--bg);
    border-radius: 2px;
}


/* REGISTER PAGE */
.form_page {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.form_page .form_container,
.form_page .svg_container {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_page .svg_container .signup_svg_image {
    width: 80%;
}

.form_page .svg_container .signin_svg_image {
    width: 60%;
}

.form_page .form_container form {
    background-color: var(--color6);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FORM TITLE */
.form_page .form_container form .title {
    width: 100%;
    background-color: var(--color1);
    padding: 10px 15px;
    color: var(--color5);
    font-weight: 500;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 10px;
}

/* FORM RADIO */
.form_page .form_container form .form_group_radio {
    width: 100%;
    background-color: var(--color3);
    display: flex;
    height: 50px;
}

.form_page .form_container form .form_group_radio .active_radio {
    border-right: 2px solid var(--color6);
}

.form_page .form_container form .form_group_radio .radio input[type='radio'] {
    display: none;
}

.form_page .form_container form .form_group_radio .radio input[type='radio']:checked~label {
    border-bottom: 7px solid var(--main1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.form_page .form_container form .form_group_radio .radio label {
    color: var(--color6);
    display: block;
    height: 100%;
    display: grid;
    place-items: center;
    text-transform: capitalize;
}

.form_page .form_container form .form_group_radio .radio {
    width: 50%;
}

/* FORM INPUTS */
.form_page .form_container form .form_group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px 15px;
    align-items: center;
    margin: 10px 0px 5px;
}

.form_page .form_container form .form_group label {
    color: var(--text);
    font-weight: 400;
}

.form_page .form_container form .form_group input {
    width: 60%;
    padding: 2px 6px;
    outline: none;
    letter-spacing: 0.03rem;
    font-size: 0.85rem;
}

.form_page .form_container form input[type='submit'] {
    background-color: var(--main1);
    border: none;
    outline: none;
    padding: 6px 20px;
    color: var(--color6);
    margin: 20px 0px 10px;
    text-transform: capitalize;
}

.form_page .form_container form input[type='submit']:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.form_page .form_container form .message {
    font-size: 0.85rem;
    margin: 8px 0px 10px;
}

.form_page .form_container form .message a {
    color: var(--main1);
    font-weight: 500;
    font-size: 0.9rem;
}

/* RESPONSIVE REGISTER PAGE */
@media screen and (max-width: 850px) {
    .form_page .form_container {
        width: 100%;
        align-items: flex-start;
        margin-top: 5rem;
    }

    .form_page .svg_container {
        display: none;
    }
}

/* Hero Page */
.hero_page {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(231deg, rgba(177,177,177,0.1264705711386117) 32%, rgba(66,66,66,1) 100%), url('https://images.pexels.com/photos/4226256/pexels-photo-4226256.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* background-image:linear-gradient(231deg, rgba(146,144,223,0.1264705711386117) 2%, rgba(74,70,202,0.1264705711386117) 60%, rgba(13,110,253,1) 100%), url('https://images.pexels.com/photos/4226256/pexels-photo-4226256.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
}

.hero {
    /* background-color: #3498db; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-content {
    text-align: center;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.hero-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #25749a;
}

.typing-effect {
    font-size: 55px;
}

/* Meeting Page */
.meeting_page , .video{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    flex-direction: row;
    gap: 3rem;
}

.meeting_page .meeting_container {
    background-color: var(--color6);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    height: auto;
}

.meeting_page .meeting_container .form_group {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.meeting_page .meeting_container .form_group .meeting_title {
    font-weight: 400;
    font-size: 30px;
}

.meeting_page .meeting_container .form_group .copy, .meeting_page .meeting_container .form_group_call button {
    background-color: var(--main1);
    border: none;
    outline: none;
    padding: 6px 20px;
    color: var(--color6);
    margin: 20px 0px 10px;
    text-transform: capitalize;
    cursor: pointer;
}

.meeting_page .meeting_container .form_group_call {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.meeting_page .meeting_container .form_group_call input[type="text"] {
    width: 100%;
    padding: 2px 6px;
    outline: none;
    letter-spacing: 0.03rem;
    font-size: 0.85rem;
}